body {
	background: url("2588.jpg");
}

.m {
	font-size: 5em;
	font-weight: 700;
	font-family: 'Hitch Hike', sans-serif;
}

table {
	margin-left:auto;
	margin-right:auto;
	width: 90vw;
}

img {
	max-width: 100%;
	width: 39em;
	height: auto; 
	float: right;
	margin-right: 2em;
	border-radius: 15px;
}

div {
	font: 1.7em serif;
	
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-weight: 700;
}


/*tr :first-child {
  width: 0;
  white-space: nowrap;
}

tr :last-child {
  width: 100%;
}*/
